<section class="ContentWrapper">
  <h2>Search for a Borehole</h2>
  <p>Enter the ID of the borehole that you wish to view below</p>

  <form class="boreholeSearchForm" [formGroup]="boreholeSearchForm">
    <mat-form-field class="">
      <input matInput placeholder="Borehole ID" name="id" formControlName="id" value="">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="boreholeSearchForm.invalid"
            (click)="getBorehole(boreholeSearchForm.value.id)" class="searchButton">Search
    </button>

  </form>

  <div class="boreholeDisplay">

    <app-display-borehole *ngIf="retrievedBorehole?.id" [borehole]="retrievedBorehole"
                          class="boreholeDisplay-borehole"></app-display-borehole>
  </div>

</section>



