<section class="addBorehole">

  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="fundamentalDetailsStep">

      <app-add-borehole-fundamental-details
        (boreholeFundamentalDetails)="completeFundamentalDetails($event)"></app-add-borehole-fundamental-details>
    </mat-step>

    <mat-step [stepControl]="TypeSpecificDetails">
      <div [ngSwitch]="currentBoreholeType">
        <app-add-borehole-rotarydrill-details *ngSwitchCase="'Rotarydrill'"
                                              (boreholeTypeDetails)="completeTypeDetails($event)"></app-add-borehole-rotarydrill-details>
        <app-add-borehole-cable-details *ngSwitchCase="'Cable'"
                                        (boreholeTypeDetails)="completeTypeDetails($event)"></app-add-borehole-cable-details>
        <div *ngSwitchDefault>No Borehole type selected</div>

      </div>

    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Save</ng-template>
      Save Borehole?

      <br>

      <div class="addBorehole_stepStage-navButtons">
        <button type="button" mat-button (click)="saveBorehole()" [disabled]="saveDisabled">Save</button>
        <button type="button" mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</section>
